a,
.clickable {
	cursor: pointer;
	user-select: none;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available; /* Fix for mobile Safari */
	width: 100vw;
	touch-action: manipulation; /* Disable annoying double tap to zoom on mobile */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	background: none;
	color: inherit;
	border: none;
}

.add-button {
	height: 1.2em;
	width: 1.2em;
}

.flex-grow {
	flex: 1;
}

/* Display none and same for descendants */
.dnd * {
	display: none !important;
}
.dnd {
	display: none !important;
}

.loading * {
	animation: fade 1s ease-in infinite;
	color: transparent;
}

@keyframes fade {
	0% {
		background-color: #fff;
	}

	50% {
		background-color: #ddd;
	}

	100% {
		background-color: #fff;
	}
}

@media (max-width: 959px) {
	.keyboard-large * {
		display: none !important;
		border: none !important;
		border-width: 0 !important;
		background: none !important;
		width: 0 !important;
	}

	.keyboard-large {
		display: none !important;
		border: none !important;
		border-width: 0 !important;
		background: none !important;
		width: 0;
		width: 0 !important;
	}
}

.keyboard {
	user-select: none;
}

.keyboard .bg-black {
	transform: scaleX(1.3);
	border-width: 4px !important;
}

.key {
	border-width: 4px !important;
}

.key.key-pressed:not(.key .key) {
	background-color: #e0dece;
}

.key:not(.key-pressed):not(.key .key) {
	background-color: #fffceb;
}

.bg-black:not(.key-pressed) {
	background-color: #222;
}
